/* colors */

/*grays */

$color_white           : #FFFFFF;
$color_alto            : #DDDDDD;
$color_gray            : #888888;
$color_emporor         : #555555;
$color_mine_shaft      : #333333;
$color_elephant        : #133450;
$color_shark           : #1f2021;
$color_haiti           : #13143e;
$color_stratos         : #000440;

/*oranges */

$color_golden_grass    : #E2AB27;
$color_ectasy          : #f5821f;
$color_zest            : #DF8325;
$color_flamingo        : #F26B3B;

/*greens */

$color_atlantis        : #7ec12a;
$color_eucalyptus      : #23AD50;
$color_pesto           : #6C8A3A;
$color_salem           : #07894a;
$color_deep_sea        : #008661;

/*blues */

$color_lochmara        : #078bcd;
$color_blue_chill      : #108e9a;
$color_denim           : #1681c4;
$color_tory_blue       : #1069a0;
$color_biscay          : #1f3d71;
$color_deep_sapphire   : #0c4673;
$color_regal_blue      : #004574;

/*reds */

$color_valencia        : #d4372f;
$color_alizarin_crimson: #e02228;
$color_cardinal        : #bf232f;
$color_stiletto        : #942d2d;
$color_old_brick       : #911a1e;
$color_falu_red        : #8e181b;
$color_bossanova       : #633264;