$font-family-italic        : 'TradeGothicLT-Oblique',Arial,sans-serif;
$font-family-bold          : 'TradeGothicLT-BoldTwo', Arial,sans-serif;
$font-family-light         : 'TradeGothicLT-Light', Arial, sans-serif;
$font-family-condensed     : 'TradeGothicLT-CondEighteen', Arial, sans-serif;
$font-family-condensed-bold: 'TradeGothicLT-BoldCondTwenty', Arial, sans-serif;