.sidebar {
  ul.menu {
    list-style: none;
    margin-left: 0;
    width: span(10.8);
    li {
      list-style: none;
      a {
        text-decoration: none;
        border: none;
        display: block;
        margin: rem(15) 0;
        color: $color_gray;
        font-family: $font-family-condensed;
        &:hover {
          color: $color_shark;
        }
        &.is-active {
          color: $color_shark;
          font-size: 18px;
          font-family: $font-family-condensed-bold;
          text-transform: uppercase;
          padding: rem(15) 0;
          border-top: solid 1px $color_shark;
          border-bottom: solid 1px $color_shark;
        }
      }
    }
  }
  @include breakpoint($bp-tablet) {
    float: left;
    width: span(3);
  }
}