<main id="main" class="page page--404" role="main">
	<div id="page" class="page__content">
		<div class="page__article" id="main-content">
			<article>
				<hgroup>
					<img class="page--404__image" alt="Global Network for Advanced Management logo" src="/themes/custom/ysm_global_network/assets/dist/images/404-raven.svg"/>
					<h3>Error 404</h3>
					<h1>This Page is Nevermore</h1>
				</hgroup>
				<p>
					As difficult as it may be to move on, let us put the tragic loss of this page in the past and get you back to a page that is living.
				</p>
				<div class="page__sitemap">
					{{ ysm_menu('main', 0, false, 4) }}
				</article>
			</div>
			<div class="page--404__logo">
				<a href="/"><img alt="Global Network for Advanced Management logo" src="/themes/custom/ysm_global_network/assets/dist/images/gnam_revised-logo-white-1.svg"/></a>
			</div>
		</div>
	</main>